ACTION=="change", SUBSYSTEM=="drm", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/hogklint/.Xauthority", RUN+="/home/hogklint/local/bin/monitor_changed.sh"
